venv/
__pycache__/
*.pyc
*.npy
stored_embeddings/
.vscode/
data/raw/
/data/intermediate/
/.venv/
/env/
.ipynb_checkpoints/
*.py[cod]
generation_evaluation_log.json
retrieval_evaluation_log.json
paper_title_metadata.json
